<div class="page page--center page--full page--close-end homepage">
    <div class="homepage__image">
        <div class="homepage__title-wrapper">
            <h1 class="page__title">Herzlich Willkommen</h1>
            <h2 class="page__sub-title">
                in der <br/><br/>
                <b>Trafik Mitterlehner</b><br/>
                <a class="link" href="https://goo.gl/maps/NA9vTMesP8xatvCG7"><b>Hamerlingstraße 44</b></a> in Linz
            </h2>
        </div>
        <a href="#start" title="start" class="homepage__image-arrow"></a>
    </div>
    <main class="homepage__wrapper" id="start">
        <section class="page__text-content homepage__intro">
            <p>
                Die Geschichte der Trafik Mitterlehner begann in einem Kiosk nahe des Linzer Frachtenbahnhofs.<br/>
                Mehrere Jahrzehnte von ihrer Mutter betrieben und schließlich 2018 von Andrea Mitterlehner übernommen.<br/>
                <br/>
                Die vielen bestehenden Stammkunden schätzen bis heute die freundliche, kompetente und vor allem persönliche Art von Andrea Mitterlehner und ihrem hervorragenden <a class="link" [routerLink]="'/team'">Team</a>, die immer ein offenes Ohr für Ihre Anliegen haben.
            </p>
            <img src="assets/logo.svg" alt="logo" class="homepage__logo">
        </section>
        <section class="page__section homepage__offers-list">
            <h3 class="page__section-title">Leistungen und Angebot</h3>
            <info-service-list *ngIf="serviceOffers.length > 0" [items]="serviceOffers"></info-service-list>
        </section>
        <section  class="homepage__news">
            <h3>News</h3>
            <news-small-overview [news]="news"></news-small-overview>
        </section>
        <section class="homepage__opening-times">
            <h3>Öffnungszeiten</h3>
            <div class="homepage__opening-times-wrapper">
                <info-current-opening-info [times]="openingTimes" [closedDates]="closedDates"></info-current-opening-info>
                <info-opening-times class="homepage__times" [times]="openingTimes"></info-opening-times>
            </div>
        </section>
        <section>
            <h3>Kontakt</h3>
            <div class="homepage__contact">
                <info-contact></info-contact>
            </div>
        </section>
    </main>
    <app-maps></app-maps>
</div>