<div class="page impressum">
  <h1 id="impressum">Impressum</h1>
  <p>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63
    Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</p>
  <p>Trafik Mitterlehner<br />Andrea Mitterlehner<br />Hamerlingstraße 44, <br />4020 Linz,
    <br />Österreich</p>
  <p>
    <strong>Unternehmensgegenstand:</strong> Tabakfachgeschäft<br />
    <strong>UID-Nummer:</strong> ATU72017408<br />
    <strong>Firmenbuchnummer:</strong> FN305637t<br />
    <strong>Firmenbuchgericht:</strong> Linz<br />
    <strong>Firmensitz:</strong> 4020 Linz</p>
  <p>
    <strong>Tel.:</strong> 0732/651268<br />
    <strong>Fax:</strong> 0732/651268<br />
    <strong>E-Mail:</strong> <a href="mailto:info@trafik-mitterlehner.at">info@trafik-mitterlehner.at</a>
  </p>
  <p>
    <strong>Berufsrecht:</strong> Gewerbeordnung: www.ris.bka.gv.at</p>
  <p>
    <strong>Aufsichtsbehörde/Gewerbebehörde:</strong> Bezirkshauptmannschaft Linz<br />
  </p>
  <h2>Urheberrechtshinweis</h2>
  <p>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Falls notwendig, werden
    wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</p>
  <h2>EU-Streitschlichtung</h2>
  <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über
    die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br />
    Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission
    unter <a
      href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=DE" target="_blank"
      rel="noopener noreferrer nofollow" class="external">http://ec.europa.eu/odr?tid=221147778</a> zu richten. Die
    dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
  <p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren
    vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
  <h2>Bildernachweis</h2>
  <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt.</p>
  <p>Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:</p>
  <ul>
    <li>Andrea Mitterlehner</li>
  </ul>
  <h2>Haftung für Inhalte dieser Website</h2>
  <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen
    bereitzustellen.  Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Website übernehmen,
    speziell für jene, die seitens Dritter bereitgestellt wurden. Als Diensteanbieter sind wir nicht verpflichtet, die
    von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine
    rechtswidrige Tätigkeit hinweisen.</p>
  <p>Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den
    allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer
    Nichtverantwortlichkeit davon unberührt.</p>
  <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren,
    damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.</p>
  <h2>Haftung für Links auf dieser Webseite</h2>
  <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für
    verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns
    solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns
    Rechtswidrigkeiten bekannt werden.</p>
  <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die
    Kontaktdaten im Impressum.</p>
  
  <h2>Web-Design</h2>
  <p>
    Website-Design & Bilder von: Stefan Mitterlehner
  </p>


  <h1 class="impressum__data" id="data-protection">Datenschutzerklärung</h1>
  <h2>Einleitung und Überblick</h2>
  <p>Wir haben diese Datenschutzerklärung (Fassung 24.08.2021-211147777) verfasst, um Ihnen gemäß der Vorgaben der <a
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=211147777" target="_blank"
      rel="noopener noreferrer nofollow" class="external">Datenschutz-Grundverordnung (EU) 2016/679</a> und anwendbaren
    nationalen Gesetzen zu erklären, welche personenbezogenen Daten (kurz Daten) wir als Verantwortliche – und die von
    uns beauftragten Auftragsverarbeiter (z. B. Provider) – verarbeiten, zukünftig verarbeiten werden und welche
    rechtmäßigen Möglichkeiten Sie haben. Die verwendeten Begriffe sind geschlechtsneutral zu verstehen.<br />
    <strong>Kurz gesagt:</strong> Wir informieren Sie umfassend über Daten, die wir über Sie verarbeiten.</p>
  <p>Datenschutzerklärungen klingen für gewöhnlich sehr technisch und verwenden juristische Fachbegriffe. Diese
    Datenschutzerklärung soll Ihnen hingegen die wichtigsten Dinge so einfach und transparent wie möglich beschreiben.
    Soweit es der Transparenz förderlich ist, werden technische <strong>Begriffe leserfreundlich erklärt</strong>,
    <strong>Links</strong> zu weiterführenden Informationen geboten und <strong>Grafiken</strong> zum Einsatz gebracht.
    Wir informieren damit in klarer und einfacher Sprache, dass wir im Rahmen unserer Geschäftstätigkeiten nur dann
    personenbezogene Daten verarbeiten, wenn eine entsprechende gesetzliche Grundlage gegeben ist. Das ist sicher nicht
    möglich, wenn man möglichst knappe, unklare und juristisch-technische Erklärungen abgibt, so wie sie im Internet oft
    Standard sind, wenn es um Datenschutz geht. Ich hoffe, Sie finden die folgenden Erläuterungen interessant und
    informativ und vielleicht ist die eine oder andere Information dabei, die Sie noch nicht kannten.<br />
    Wenn trotzdem Fragen bleiben, möchten wir Sie bitten, sich an die unten bzw. im Impressum genannte verantwortliche
    Stelle zu wenden, den vorhandenen Links zu folgen und sich weitere Informationen auf Drittseiten anzusehen. Unsere
    Kontaktdaten finden Sie selbstverständlich auch im Impressum.</p>
  <h2>Rechtsgrundlagen</h2>
  <p>In der folgenden Datenschutzerklärung geben wir Ihnen transparente Informationen zu den rechtlichen Grundsätzen und
    Vorschriften, also den Rechtsgrundlagen der Datenschutz-Grundverordnung, die uns ermöglichen, personenbezogene Daten
    zu verarbeiten.<br />
    Was das EU-Recht betrifft, beziehen wir uns auf die VERORDNUNG (EU) 2016/679 DES EUROPÄISCHEN PARLAMENTS UND DES
    RATES vom 27. April 2016. Diese Datenschutz-Grundverordnung der EU können Sie selbstverständlich online auf EUR-Lex,
    dem Zugang zum EU-Recht, unter <a
      href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&tid=211147777" target="_blank"
      rel="noopener noreferrer nofollow"
      class="external">https://eur-lex.europa.eu/legal-content/DE/TXT/?uri=celex%3A32016R0679</a> nachlesen.</p>
  <p>Wir verarbeiten Ihre Daten nur, wenn mindestens eine der folgenden Bedingungen zutrifft:</p>
  <ol>
    <li>
      <strong>Einwilligung</strong> (Artikel 6 Absatz 1 lit. a DSGVO): Sie haben uns Ihre Einwilligung gegeben, Daten zu
      einem bestimmten Zweck zu verarbeiten. Ein Beispiel wäre die Speicherung Ihrer eingegebenen Daten eines
      Kontaktformulars.</li>
    <li>
      <strong>Vertrag</strong> (Artikel 6 Absatz 1 lit. b DSGVO): Um einen Vertrag oder vorvertragliche Verpflichtungen
      mit Ihnen zu erfüllen, verarbeiten wir Ihre Daten. Wenn wir zum Beispiel einen Kaufvertrag mit Ihnen abschließen,
      benötigen wir vorab personenbezogene Informationen.</li>
    <li>
      <strong>Rechtliche Verpflichtung</strong> (Artikel 6 Absatz 1 lit. c DSGVO): Wenn wir einer rechtlichen
      Verpflichtung unterliegen, verarbeiten wir Ihre Daten. Zum Beispiel sind wir gesetzlich verpflichtet Rechnungen
      für die Buchhaltung aufzuheben. Diese enthalten in der Regel personenbezogene Daten.</li>
    <li>
      <strong>Berechtigte Interessen</strong> (Artikel 6 Absatz 1 lit. f DSGVO): Im Falle berechtigter Interessen, die
      Ihre Grundrechte nicht einschränken, behalten wir uns die Verarbeitung personenbezogener Daten vor. Wir müssen zum
      Beispiel gewisse Daten verarbeiten, um unsere Website sicher und wirtschaftlich effizient betreiben zu können.
      Diese Verarbeitung ist somit ein berechtigtes Interesse.</li>
  </ol>
  <p>Weitere Bedingungen wie die Wahrnehmung von Aufnahmen im öffentlichen Interesse und Ausübung öffentlicher Gewalt
    sowie dem Schutz lebenswichtiger Interessen treten bei uns in der Regel nicht auf. Soweit eine solche
    Rechtsgrundlage doch einschlägig sein sollte, wird diese an der entsprechenden Stelle ausgewiesen.</p>
  <p>Zusätzlich zu der EU-Verordnung gelten auch noch nationale Gesetze:</p>
  <ul>
    <li>In <strong>Österreich</strong> ist dies das Bundesgesetz zum Schutz natürlicher Personen bei der Verarbeitung
      personenbezogener Daten (<strong>Datenschutzgesetz</strong>), kurz <strong>DSG</strong>.</li>
    <li>In <strong>Deutschland</strong> gilt das <strong>Bundesdatenschutzgesetz</strong>, kurz<strong> BDSG</strong>.
    </li>
  </ul>
  <p>Sofern weitere regionale oder nationale Gesetze zur Anwendung kommen, informieren wir Sie in den folgenden
    Abschnitten darüber.</p>
  <!-- <h2>Kontaktdaten des Verantwortlichen</h2>
  <p>Sollten Sie Fragen zum Datenschutz haben, finden Sie nachfolgend die Kontaktdaten der verantwortlichen Person bzw.
    Stelle:<br />
    Musterfirma GmbH<br />
    Musterstraße 1, 4711 Musterort<br />
    <span style="font-weight: 400;">Vertretungsberechtigt: Markus Mustermann</span>
    <br />
    E-Mail: <a href="mailto:office@musterfirma.com">office@musterfirma.com</a>
    <br />
    Telefon: <span style="font-weight: 400;">+49 47114 654165</span>
    <br />
    Impressum: <a href="http://www.testfirma.de/impressum" target="_blank" rel="noopener noreferrer nofollow"
      class="external">https://www.testfirma.de/impressum</a>
  </p> -->
  <h2>Rechte laut Datenschutzgrundverordnung</h2>
  <p>Laut Artikel 13 DSGVO stehen Ihnen die folgenden Rechte zu, damit es zu einer fairen und transparenten Verarbeitung
    von Daten kommt:</p>
  <ul>
    <li>Sie haben laut Artikel 15 DSGVO ein Auskunftsrecht darüber, ob wir Daten von Ihnen verarbeiten. Sollte das
      zutreffen, haben Sie Recht darauf eine Kopie der Daten zu erhalten und die folgenden Informationen zu erfahren:
      <ul>
        <li>zu welchem Zweck wir die Verarbeitung durchführen;</li>
        <li>die Kategorien, also die Arten von Daten, die verarbeitet werden;</li>
        <li>wer diese Daten erhält und wenn die Daten an Drittländer übermittelt werden, wie die Sicherheit garantiert
          werden kann;</li>
        <li>wie lange die Daten gespeichert werden;</li>
        <li>das Bestehen des Rechts auf Berichtigung, Löschung oder Einschränkung der Verarbeitung und dem
          Widerspruchsrecht gegen die Verarbeitung;</li>
        <li>dass Sie sich bei einer Aufsichtsbehörde beschweren können (Links zu diesen Behörden finden Sie weiter
          unten);</li>
        <li>die Herkunft der Daten, wenn wir sie nicht bei Ihnen erhoben haben;</li>
        <li>ob Profiling durchgeführt wird, ob also Daten automatisch ausgewertet werden, um zu einem persönlichen
          Profil von Ihnen zu gelangen.</li>
      </ul>
    </li>
    <li>Sie haben laut Artikel 16 DSGVO ein Recht auf Berichtigung der Daten, was bedeutet, dass wir Daten richtig
      stellen müssen, falls Sie Fehler finden.</li>
    <li>Sie haben laut Artikel 17 DSGVO das Recht auf Löschung („Recht auf Vergessenwerden“), was konkret bedeutet, dass
      Sie die Löschung Ihrer Daten verlangen dürfen.</li>
    <li>Sie haben laut Artikel 18 DSGVO das Recht auf Einschränkung der Verarbeitung, was bedeutet, dass wir die Daten
      nur mehr speichern dürfen aber nicht weiter verwenden.</li>
    <li>Sie haben laut Artikel 19 DSGVO das Recht auf Datenübertragbarkeit, was bedeutet, dass wir Ihnen auf Anfrage
      Ihre Daten in einem gängigen Format zur Verfügung stellen.</li>
    <li>Sie haben laut Artikel 21 DSGVO ein Widerspruchsrecht, welches nach Durchsetzung eine Änderung der Verarbeitung
      mit sich bringt.
      <ul>
        <li>Wenn die Verarbeitung Ihrer Daten auf Artikel 6 Abs. 1 lit. e (öffentliches Interesse, Ausübung öffentlicher
          Gewalt) oder Artikel 6 Abs. 1 lit. f (berechtigtes Interesse) basiert, können Sie gegen die Verarbeitung
          Widerspruch einlegen. Wir prüfen danach so rasch wie möglich, ob wir diesem Widerspruch rechtlich nachkommen
          können.</li>
        <li>Werden Daten verwendet, um Direktwerbung zu betreiben, können Sie jederzeit gegen diese Art der
          Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Direktmarketing verwenden.</li>
        <li>Werden Daten verwendet, um Profiling zu betreiben, können Sie jederzeit gegen diese Art der
          Datenverarbeitung widersprechen. Wir dürfen Ihre Daten danach nicht mehr für Profiling verwenden.</li>
      </ul>
    </li>
    <li>Sie haben laut Artikel 22 DSGVO unter Umständen das Recht, nicht einer ausschließlich auf einer automatisierten
      Verarbeitung (zum Beispiel Profiling) beruhenden Entscheidung unterworfen zu werden.</li>
  </ul>
  <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre
    datenschutzrechtlichen Ansprüche in sonst einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde
    beschweren. Diese ist für Österreich die Datenschutzbehörde, deren Website Sie unter <a
      href="https://www.dsb.gv.at/?tid=211147777" target="_blank" rel="noopener noreferrer nofollow"
      class="external">https://www.dsb.gv.at/</a> finden und für Deutschland können Sie sich an die <a
      class="211147777 external" href="https://www.bfdi.bund.de" target="_blank"
      rel="noopener noreferrer nofollow">Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI)</a>
    wenden.</p>
  <p>
    <strong>Kurz gesagt:</strong> Sie haben Rechte – zögern Sie nicht, die oben gelistete verantwortliche Stelle bei uns
    zu kontaktieren!</p>
  <h2>Google Analytics IP-Anonymisierung</h2>
  <p>Wir haben auf dieser Webseite die IP-Adressen-Anonymisierung von Google Analytics implementiert. Diese Funktion
    wurde von Google entwickelt, damit diese Webseite die geltenden Datenschutzbestimmungen und Empfehlungen der lokalen
    Datenschutzbehörden einhalten kann, wenn diese eine Speicherung der vollständigen IP-Adresse untersagen. Die
    Anonymisierung bzw. Maskierung der IP findet statt, sobald die IP-Adressen im Google
    Analytics-Datenerfassungsnetzwerk eintreffen und bevor eine Speicherung oder Verarbeitung der Daten stattfindet.</p>
  <p>Mehr Informationen zur IP-Anonymisierung finden Sie auf <a
      href="https://support.google.com/analytics/answer/2763052?hl=de" target="_blank" rel="noopener nofollow"
      class="external">https://support.google.com/analytics/answer/2763052?hl=de</a>.</p>
  <h2>Google Analytics Deaktivierungslink</h2>
  <p>Wenn Sie auf folgenden <strong>Deaktivierungslink</strong> klicken, können Sie verhindern, dass Google weitere
    Besuche auf dieser Webseite erfasst. Achtung: Das Löschen von Cookies, die Nutzung des Inkognito/Privatmodus ihres
    Browsers, oder die Nutzung eines anderen Browsers führt dazu, dass wieder Daten erhoben werden.</p>
  <p>
    <a onclick="alert('Google Analytics wurde deaktiviert');" href="javascript:gaOptout()">Google Analytics
      deaktivieren</a>
  </p>
  <h2>Kommunikation</h2>
  <table border="1" cellpadding="15">
    <tbody>
      <tr>
        <td>
          <strong>Kommunikation Zusammenfassung</strong>
          <br />
          👥 Betroffene: Alle, die mit uns per Telefon, E-Mail oder Online-Formular kommunizieren<br />
          📓 Verarbeitete Daten: z. B. Telefonnummer, Name, E-Mail-Adresse, eingegebene Formulardaten. Mehr Details dazu
          finden Sie bei der jeweils eingesetzten Kontaktart<br />
          🤝 Zweck: Abwicklung der Kommunikation mit Kunden, Geschäftspartnern usw.<br />
          📅 Speicherdauer: Dauer des Geschäftsfalls und der gesetzlichen Vorschriften<br />
          ⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit. b DSGVO (Vertrag), Art. 6
          Abs. 1 lit. f DSGVO (Berechtigte Interessen)</td>
      </tr>
    </tbody>
  </table>
  <p>Wenn Sie mit uns Kontakt aufnehmen und per Telefon, E-Mail oder Online-Formular kommunizieren, kann es zur
    Verarbeitung personenbezogener Daten kommen.</p>
  <p>Die Daten werden für die Abwicklung und Bearbeitung Ihrer Frage und des damit zusammenhängenden Geschäftsvorgangs
    verarbeitet. Die Daten während ebensolange gespeichert bzw. so lange es das Gesetz vorschreibt.</p>
  <h3>Betroffene Personen</h3>
  <p>Von den genannten Vorgängen sind alle betroffen, die über die von uns bereit gestellten Kommunikationswege den
    Kontakt zu uns suchen.</p>
  <h3>Telefon</h3>
  <p>Wenn Sie uns anrufen, werden die Anrufdaten auf dem jeweiligen Endgerät und beim eingesetzten
    Telekommunikationsanbieter pseudonymisiert gespeichert. Außerdem können Daten wie Name und Telefonnummer im
    Anschluss per E-Mail versendet und zur Anfragebeantwortung gespeichert werden. Die Daten werden gelöscht, sobald der
    Geschäftsfall beendet wurde und es gesetzliche Vorgaben erlauben.</p>
  <h3>E-Mail</h3>
  <p>Wenn Sie mit uns per E-Mail kommunizieren, werden Daten gegebenenfalls auf dem jeweiligen Endgerät (Computer,
    Laptop, Smartphone,…) gespeichert und es kommt zur Speicherung von Daten auf dem E-Mail-Server. Die Daten werden
    gelöscht, sobald der Geschäftsfall beendet wurde und es gesetzliche Vorgaben erlauben.</p>
  <h3>Online Formulare</h3>
  <p>Wenn Sie mit uns mittels Online-Formular kommunizieren, werden Daten auf unserem Webserver gespeichert und
    gegebenenfalls an eine E-Mail-Adresse von uns weitergeleitet. Die Daten werden gelöscht, sobald der Geschäftsfall
    beendet wurde und es gesetzliche Vorgaben erlauben.</p>
  <h3>Rechtsgrundlagen</h3>
  <p>Die Verarbeitung der Daten basiert auf den folgenden Rechtsgrundlagen:</p>
  <ul>
    <li>Art. 6 Abs. 1 lit. a DSGVO (Einwilligung): Sie geben uns die Einwilligung Ihre Daten zu speichern und weiter für
      den Geschäftsfall betreffende Zwecke zu verwenden;</li>
    <li>Art. 6 Abs. 1 lit. b DSGVO (Vertrag): Es besteht die Notwendigkeit für die Erfüllung eines Vertrags mit Ihnen
      oder einem Auftragsverarbeiter wie z. B. dem Telefonanbieter oder wir müssen die Daten für vorvertragliche
      Tätigkeiten, wie z. B. die Vorbereitung eines Angebots, verarbeiten;</li>
    <li>Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen): Wir wollen Kundenanfragen und geschäftliche Kommunikation
      in einem professionellen Rahmen betreiben. Dazu sind gewisse technische Einrichtungen wie z. B. E-Mail-Programme,
      Exchange-Server und Mobilfunkbetreiber notwendig, um die Kommunikation effizient betreiben zu können.</li>
  </ul>
  <h2>Google Analytics Berichte zu demografischen Merkmalen und Interessen</h2>
  <p>Wir haben in Google Analytics die Funktionen für Werbeberichte eingeschaltet. Die Berichte zu demografischen
    Merkmalen und Interessen enthalten Angaben zu Alter, Geschlecht und Interessen. Damit können wir uns – ohne diese
    Daten einzelnen Personen zuordnen zu können – ein besseres Bild von unseren Nutzern machen. Mehr über die
    Werbefunktionen erfahren Sie <a href="https://support.google.com/analytics/answer/3450482?hl=de_AT&utm_id=ad"
      target="_blank" rel="noopener nofollow"
      class="external">auf https://support.google.com/analytics/answer/3450482?hl=de_AT&utm_id=ad</a>.</p>
  <p>Sie können die Nutzung der Aktivitäten und Informationen Ihres Google Kontos unter “Einstellungen für Werbung” auf
    <a href="https://adssettings.google.com/authenticated" class="external"
      rel="nofollow">https://adssettings.google.com/authenticated</a> per Checkbox beenden.</p>
  <h2>Google Analytics Zusatz zur Datenverarbeitung</h2>
  <p>Wir haben mit Google einen Direktkundenvertrag zur Verwendung von Google Analytics abgeschlossen, indem wir den
    “Zusatz zur Datenverarbeitung” in Google Analytics akzeptiert haben.</p>
  <p>Mehr über den Zusatz zur Datenverarbeitung für Google Analytics finden Sie hier: <a
      href="https://support.google.com/analytics/answer/3379636?hl=de&utm_id=ad" target="_blank" rel="noopener nofollow"
      class="external">https://support.google.com/analytics/answer/3379636?hl=de&utm_id=ad</a>
  </p>
  <h2>Google Analytics Google-Signale Datenschutzerklärung</h2>
  <p>Wir haben in Google Analytics die Google-Signale aktiviert. So werden die bestehenden Google-Analytics-Funktionen
    (Werbeberichte, Remarketing, gerätübergreifende Berichte und Berichte zu Interessen und demografische Merkmale)
    aktualisiert, um zusammengefasste und anonymisierte Daten von Ihnen zu erhalten, sofern Sie personalisierte Anzeigen
    in Ihrem Google-Konto erlaubt haben.</p>
  <p>Das besondere daran ist, dass es sich dabei um ein Cross-Device-Tracking handelt. Das heißt Ihre Daten können
    geräteübergreifend analysiert werden. Durch die Aktivierung von Google-Signale werden Daten erfasst und mit dem
    Google-Konto verknüpft. Google kann dadurch zum Beispiel erkennen, wenn Sie auf unsere Webseite über ein Smartphone
    ein Produkt ansehen und erst später über einen Laptop das Produkt kaufen. Dank der Aktivierung von Google-Signale
    können wir gerätübergreifende Remarketing-Kampagnen starten, die sonst in dieser Form nicht möglich wären.
    Remarketing bedeutet, dass wir Ihnen auch auf anderen Webseiten unser Angebot zeigen können.</p>
  <p>In Google Analytics werden zudem durch die Google-Signale weitere Besucherdaten wie Standort, Suchverlauf,
    YouTube-Verlauf und Daten über Ihre Handlungen auf unserer Webseite, erfasst. Wir erhalten dadurch von Google
    bessere Werbeberichte und nützlichere Angaben zu Ihren Interessen und demografischen Merkmalen. Dazu gehören Ihr
    Alter, welche Sprache sie sprechen, wo Sie wohnen oder welchem Geschlecht Sie angehören. Weiters kommen auch noch
    soziale Kriterien wie Ihr Beruf, Ihr Familienstand oder Ihr Einkommen hinzu. All diese Merkmal helfen Google
    Analytics Personengruppen bzw. Zielgruppen zu definieren.</p>
  <p>Die Berichte helfen uns auch Ihr Verhalten, Ihre Wünsche und Interessen besser einschätzen zu können. Dadurch
    können wir unsere Dienstleistungen und Produkte für Sie optimieren und anpassen. Diese Daten laufen standardmäßig
    nach 26 Monaten ab. Bitte beachten Sie, dass diese Datenerfassung nur erfolgt, wenn Sie personalisierte Werbung in
    Ihrem Google-Konto zugelassen haben. Es handelt sich dabei immer um zusammengefasste und anonyme Daten und nie um
    Daten einzelner Personen. In Ihrem Google-Konto können Sie diese Daten verwalten bzw. auch löschen.</p>
  <h2>Google Analytics Datenschutzerklärung</h2>
  <table border="1" cellpadding="15">
    <tbody>
      <tr>
        <td>
          <strong>Google Analytics Datenschutzerklärung Zusammenfassung</strong>
          <br />
          👥 Betroffene: Besucher der Website<br />
          🤝 Zweck: Auswertung der Besucherinformationen zur Optimierung des Webangebots.<br />
          📓 Verarbeitete Daten: Zugriffsstatistiken, die Daten wie Standorte der Zugriffe, Gerätedaten, Zugriffsdauer
          und Zeitpunkt, Navigationsverhalten, Klickverhalten und IP-Adressen enthalten. Mehr Details dazu finden Sie
          weiter unten in dieser Datenschutzerklärung.<br />
          📅 Speicherdauer: abhängig von den verwendeten Properties<br />
          ⚖️ Rechtsgrundlagen: Art. 6 Abs. 1 lit. a DSGVO (Einwilligung), Art. 6 Abs. 1 lit. f DSGVO (Berechtigte
          Interessen)</td>
      </tr>
    </tbody>
  </table>
  <h3>Was ist Google Analytics?</h3>
  <p>Wir verwenden auf unserer Website das Analyse-Tracking Tool Google Analytics (GA) des amerikanischen Unternehmens
    Google Inc. Für den europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin
    4, Irland) für alle Google-Dienste verantwortlich. Google Analytics sammelt Daten über Ihre Handlungen auf unserer
    Website. Wenn Sie beispielsweise einen Link anklicken, wird diese Aktion in einem Cookie gespeichert und an Google
    Analytics versandt. Mithilfe der Berichte, die wir von Google Analytics erhalten, können wir unsere Website und
    unser Service besser an Ihre Wünsche anpassen. Im Folgenden gehen wir näher auf das Tracking-Tool ein und
    informieren Sie vor allem darüber, welche Daten gespeichert werden und wie Sie das verhindern können.</p>
  <p>Google Analytics ist ein Trackingtool, das der Datenverkehrsanalyse unserer Website dient. Damit Google Analytics
    funktioniert, wird ein Tracking-Code in den Code unserer Website eingebaut. Wenn Sie unsere Website besuchen,
    zeichnet dieser Code verschiedene Handlungen auf, die Sie auf unserer Website ausführen. Sobald Sie unsere Website
    verlassen, werden diese Daten an die Google-Analytics-Server gesendet und dort gespeichert.</p>
  <p>Google verarbeitet die Daten und wir bekommen Berichte über Ihr Userverhalten. Dabei kann es sich unter anderem um
    folgende Berichte handeln:</p>
  <ul>
    <li>Zielgruppenberichte: Über Zielgruppenberichte lernen wir unsere User besser kennen und wissen genauer, wer sich
      für unser Service interessiert.</li>
    <li>Anzeigeberichte: Durch Anzeigeberichte können wir unsere Onlinewerbung leichter analysieren und verbessern.</li>
    <li>Akquisitionsberichte: Akquisitionsberichte geben uns hilfreiche Informationen darüber, wie wir mehr Menschen für
      unser Service begeistern können.</li>
    <li>Verhaltensberichte: Hier erfahren wir, wie Sie mit unserer Website interagieren. Wir können nachvollziehen
      welchen Weg Sie auf unserer Seite zurücklegen und welche Links Sie anklicken.</li>
    <li>Conversionsberichte: Conversion nennt man einen Vorgang, bei dem Sie aufgrund einer Marketing-Botschaft eine
      gewünschte Handlung ausführen. Zum Beispiel, wenn Sie von einem reinen Websitebesucher zu einem Käufer oder
      Newsletter-Abonnent werden. Mithilfe dieser Berichte erfahren wir mehr darüber, wie unsere Marketing-Maßnahmen bei
      Ihnen ankommen. So wollen wir unsere Conversionrate steigern.</li>
    <li>Echtzeitberichte: Hier erfahren wir immer sofort, was gerade auf unserer Website passiert. Zum Beispiel sehen
      wir wie viele User gerade diesen Text lesen.</li>
  </ul>
  <h3>Warum verwenden wir Google Analytics auf unserer Website?</h3>
  <p>Unser Ziel mit dieser Website ist klar: Wir wollen Ihnen das bestmögliche Service bieten. Die Statistiken und Daten
    von Google Analytics helfen uns dieses Ziel zu erreichen.</p>
  <p>Die statistisch ausgewerteten Daten zeigen uns ein klares Bild von den Stärken und Schwächen unserer Website.
    Einerseits können wir unsere Seite so optimieren, dass sie von interessierten Menschen auf Google leichter gefunden
    wird. Andererseits helfen uns die Daten, Sie als Besucher besser zu verstehen. Wir wissen somit sehr genau, was wir
    an unserer Website verbessern müssen, um Ihnen das bestmögliche Service zu bieten. Die Daten dienen uns auch, unsere
    Werbe- und Marketing-Maßnahmen individueller und kostengünstiger durchzuführen. Schließlich macht es nur Sinn,
    unsere Produkte und Dienstleistungen Menschen zu zeigen, die sich dafür interessieren.</p>
  <h3>Welche Daten werden von Google Analytics gespeichert?</h3>
  <p>Google Analytics erstellt mithilfe eines Tracking-Codes eine zufällige, eindeutige ID, die mit Ihrem Browser-Cookie
    verbunden ist. So erkennt Sie Google Analytics als neuen User. Wenn Sie das nächste Mal unsere Seite besuchen,
    werden Sie als „wiederkehrender“ User erkannt. Alle gesammelten Daten werden gemeinsam mit dieser User-ID
    gespeichert. So ist es überhaupt erst möglich pseudonyme Userprofile auszuwerten.</p>
  <p>Um mit Google Analytics unsere Website analysieren zu können, muss eine Property-ID in den Tracking-Code eingefügt
    werden. Die Daten werden dann in der entsprechenden Property gespeichert. Für jede neu angelegte Property ist die
    Google Analytics 4-Property standardmäßig. Alternativ kann man aber auch noch die Universal Analytics Property
    erstellen. Je nach verwendeter Property werden Daten unterschiedlich lange gespeichert.</p>
  <p>Durch Kennzeichnungen wie Cookies und App-Instanz-IDs werden Ihre Interaktionen auf unserer Website gemessen.
    Interaktionen sind alle Arten von Handlungen, die Sie auf unserer Website ausführen. Wenn Sie auch andere
    Google-Systeme (wie z.B. ein Google-Konto) nützen, können über Google Analytics generierte Daten mit
    Drittanbieter-Cookies verknüpft werden. Google gibt keine Google Analytics-Daten weiter, außer wir als
    Websitebetreiber genehmigen das. Zu Ausnahmen kann es kommen, wenn es gesetzlich erforderlich ist.</p>
  <p>Folgende Cookies werden von Google Analytics verwendet:</p>
  <p>
    <strong>Name:</strong> _ga<br />
    <strong>Wert: </strong>2.1326744211.152211147777-5<br />
    <strong>Verwendungszweck:</strong> Standardmäßig verwendet analytics.js das Cookie _ga, um die User-ID zu speichern.
    Grundsätzlich dient es zur Unterscheidung der Webseitenbesucher.<br />
    <strong>Ablaufdatum:</strong> nach 2 Jahren</p>
  <p>
    <strong>Name:</strong> _gid<br />
    <strong>Wert: </strong>2.1687193234.152211147777-1<br />
    <strong>Verwendungszweck:</strong> Das Cookie dient auch zur Unterscheidung der Webseitenbesucher<br />
    <strong>Ablaufdatum:</strong> nach 24 Stunden</p>
  <p>
    <strong>Name:</strong> _gat_gtag_UA_&lt;property-id&gt;<br />
    <strong>Wert:</strong> 1<br />
    <strong>Verwendungszweck:</strong> Wird zum Senken der Anforderungsrate verwendet. Wenn Google Analytics über den
    Google Tag Manager bereitgestellt wird, erhält dieser Cookie den Namen _dc_gtm_ &lt;property-id&gt;.<br />
    <strong>Ablaufdatum: </strong>nach 1 Minute</p>
  <p>
    <strong>Name:</strong> AMP_TOKEN<br />
    <strong>Wert:</strong> keine Angaben<br />
    <strong>Verwendungszweck:</strong> Das Cookie hat einen Token, mit dem eine User ID vom AMP-Client-ID-Dienst
    abgerufen werden kann. Andere mögliche Werte weisen auf eine Abmeldung, eine Anfrage oder einen Fehler hin.<br />
    <strong>Ablaufdatum:</strong> nach 30 Sekunden bis zu einem Jahr</p>
  <p>
    <strong>Name:</strong> __utma<br />
    <strong>Wert: </strong>1564498958.1564498958.1564498958.1<br />
    <strong>Verwendungszweck:</strong> Mit diesem Cookie kann man Ihr Verhalten auf der Website verfolgen und die
    Leistung messen. Das Cookie wird jedes Mal aktualisiert, wenn Informationen an Google Analytics gesendet
    werden.<br />
    <strong>Ablaufdatum:</strong> nach 2 Jahren</p>
  <p>
    <strong>Name:</strong> __utmt<br />
    <strong>Wert:</strong> 1<br />
    <strong>Verwendungszweck:</strong> Das Cookie wird wie _gat_gtag_UA_&lt;property-id&gt; zum Drosseln der
    Anforderungsrate verwendet.<br />
    <strong>Ablaufdatum:</strong> nach 10 Minuten</p>
  <p>
    <strong>Name:</strong> __utmb<br />
    <strong>Wert: </strong>3.10.1564498958<br />
    <strong>Verwendungszweck:</strong> Dieses Cookie wird verwendet, um neue Sitzungen zu bestimmen. Es wird jedes Mal
    aktualisiert, wenn neue Daten bzw. Infos an Google Analytics gesendet werden.<br />
    <strong>Ablaufdatum:</strong> nach 30 Minuten</p>
  <p>
    <strong>Name:</strong> __utmc<br />
    <strong>Wert:</strong> 167421564<br />
    <strong>Verwendungszweck:</strong> Dieses Cookie wird verwendet, um neue Sitzungen für wiederkehrende Besucher
    festzulegen. Dabei handelt es sich um ein Session-Cookie und wird nur solange gespeichert, bis Sie den Browser
    wieder schließen.<br />
    <strong>Ablaufdatum:</strong> Nach Schließung des Browsers</p>
  <p>
    <strong>Name:</strong> __utmz<br />
    <strong>Wert:</strong> m|utmccn=(referral)|utmcmd=referral|utmcct=/<br />
    <strong>Verwendungszweck:</strong> Das Cookie wird verwendet, um die Quelle des Besucheraufkommens auf unserer
    Website zu identifizieren. Das heißt, das Cookie speichert, von wo Sie auf unsere Website gekommen sind. Das kann
    eine andere Seite bzw. eine Werbeschaltung gewesen sein.<br />
    <strong>Ablaufdatum:</strong> nach 6 Monaten</p>
  <p>
    <strong>Name:</strong> __utmv<br />
    <strong>Wert:</strong> keine Angabe<br />
    <strong>Verwendungszweck:</strong> Das Cookie wird verwendet, um benutzerdefinierte Userdaten zu speichern. Es wird
    immer aktualisiert, wenn Informationen an Google Analytics gesendet werden.<br />
    <strong>Ablaufdatum:</strong> nach 2 Jahren</p>
  <p>
    <strong>Anmerkung:</strong> Diese Aufzählung kann keinen Anspruch auf Vollständigkeit erheben, da Google die Wahl
    ihrer Cookies immer wieder auch verändert.</p>
  <p>Hier zeigen wir Ihnen einen Überblick über die wichtigsten Daten, die mit Google Analytics erhoben werden:</p>
  <p>
    <strong>Heatmaps:</strong> Google legt sogenannte Heatmaps an. Über Heatmaps sieht man genau jene Bereiche, die Sie
    anklicken. So bekommen wir Informationen, wo Sie auf unserer Seite „unterwegs“ sind.</p>
  <p>
    <strong>Sitzungsdauer:</strong> Als Sitzungsdauer bezeichnet Google die Zeit, die Sie auf unserer Seite verbringen,
    ohne die Seite zu verlassen. Wenn Sie 20 Minuten inaktiv waren, endet die Sitzung automatisch.</p>
  <p>
    <strong>Absprungrate</strong> (engl. Bouncerate): Von einem Absprung ist die Rede, wenn Sie auf unserer Website nur
    eine Seite ansehen und dann unsere Website wieder verlassen.</p>
  <p>
    <strong>Kontoerstellung:</strong> Wenn Sie auf unserer Website ein Konto erstellen bzw. eine Bestellung machen,
    erhebt Google Analytics diese Daten.</p>
  <p>
    <strong>IP-Adresse:</strong> Die IP-Adresse wird nur in gekürzter Form dargestellt, damit keine eindeutige Zuordnung
    möglich ist.</p>
  <p>
    <strong>Standort:</strong> Über die IP-Adresse kann das Land und Ihr ungefährer Standort bestimmt werden. Diesen
    Vorgang bezeichnet man auch als IP- Standortbestimmung.</p>
  <p>
    <strong>Technische Informationen:</strong> Zu den technischen Informationen zählen unter anderem Ihr Browsertyp, Ihr
    Internetanbieter oder Ihre Bildschirmauflösung.</p>
  <p>
    <strong>Herkunftsquelle:</strong> Google Analytics beziehungsweise uns interessiert natürlich auch über welche
    Website oder welche Werbung Sie auf unsere Seite gekommen sind.</p>
  <p>Weitere Daten sind Kontaktdaten, etwaige Bewertungen, das Abspielen von Medien (z.B., wenn Sie ein Video über
    unsere Seite abspielen), das Teilen von Inhalten über Social Media oder das Hinzufügen zu Ihren Favoriten. Die
    Aufzählung hat keinen Vollständigkeitsanspruch und dient nur zu einer allgemeinen Orientierung der Datenspeicherung
    durch Google Analytics.</p>
  <h3>Wie lange und wo werden die Daten gespeichert?</h3>
  <p>Google hat Ihre Server auf der ganzen Welt verteilt. Die meisten Server befinden sich in Amerika und folglich
    werden Ihre Daten meist auf amerikanischen Servern gespeichert. Hier können Sie genau nachlesen wo sich die
    Google-Rechenzentren befinden: <a href="https://www.google.com/about/datacenters/inside/locations/?hl=de"
      target="_blank" rel="noopener noreferrer nofollow"
      class="external">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
  </p>
  <p>Ihre Daten werden auf verschiedenen physischen Datenträgern verteilt. Das hat den Vorteil, dass die Daten schneller
    abrufbar sind und vor Manipulation besser geschützt sind. In jedem Google-Rechenzentrum gibt es entsprechende
    Notfallprogramme für Ihre Daten. Wenn beispielsweise die Hardware bei Google ausfällt oder Naturkatastrophen Server
    lahmlegen, bleibt das Risiko einer Dienstunterbrechung bei Google dennoch gering.</p>
  <p>Die Aufbewahrungsdauer der Daten hängt von den verwendeten Properties ab. Bei der Verwendung der neueren Google
    Analytics 4-Properties ist die Aufbewahrungsdauer Ihrer Userdaten auf 14 Monate fix eingestellt. Für andere
    sogenannte Ereignisdaten haben wir die Möglichkeit eine Aufbewahrungsdauer von 2 Monaten oder 14 Monaten zu wählen.
  </p>
  <p>Bei Universal Analytics-Properties ist bei Google Analytics eine Aufbewahrungsdauer Ihrer Userdaten von 26 Monaten
    standardisiert eingestellt. Dann werden Ihre Userdaten gelöscht. Allerdings haben wir die Möglichkeit, die
    Aufbewahrungsdauer von Nutzdaten selbst zu wählen. Dafür stehen uns fünf Varianten zur Verfügung:</p>
  <ul>
    <li>Löschung nach 14 Monaten</li>
    <li>Löschung nach 26 Monaten</li>
    <li>Löschung nach 38 Monaten</li>
    <li>Löschung nach 50 Monaten</li>
    <li>Keine automatische Löschung</li>
  </ul>
  <p>Zusätzlich gibt es auch die Option, dass Daten erst dann gelöscht werden, wenn Sie innerhalb des von uns gewählten
    Zeitraums nicht mehr unsere Website besuchen. In diesem Fall wird die Aufbewahrungsdauer jedes Mal zurückgesetzt,
    wenn Sie unsere Website innerhalb des festgelegten Zeitraums wieder besuchen.</p>
  <p>Wenn der festgelegte Zeitraum abgelaufen ist, werden einmal im Monat die Daten gelöscht. Diese Aufbewahrungsdauer
    gilt für Ihre Daten, die mit Cookies, Usererkennung und Werbe-IDs (z.B. Cookies der DoubleClick-Domain) verknüpft
    sind. Berichtergebnisse basieren auf aggregierten Daten und werden unabhängig von Nutzerdaten gespeichert.
    Aggregierte Daten sind eine Zusammenschmelzung von Einzeldaten zu einer größeren Einheit.</p>
  <h3>Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
  <p>Nach dem Datenschutzrecht der Europäischen Union haben Sie das Recht, Auskunft über Ihre Daten zu erhalten, sie zu
    aktualisieren, zu löschen oder einzuschränken. Mithilfe des Browser-Add-ons zur Deaktivierung von Google
    Analytics-JavaScript (ga.js, analytics.js, dc.js) verhindern Sie, dass Google Analytics Ihre Daten verwendet. Das
    Browser-Add-on können Sie unter <a href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank"
      rel="noopener noreferrer nofollow" class="external">https://tools.google.com/dlpage/gaoptout?hl=de</a> runterladen
    und installieren. Beachten Sie bitte, dass durch dieses Add-on nur die Datenerhebung durch Google Analytics
    deaktiviert wird.</p>
  <p>Falls Sie grundsätzlich Cookies (unabhängig von Google Analytics) deaktivieren, löschen oder verwalten wollen, gibt
    es für jeden Browser eine eigene Anleitung:</p>
  <p>
    <a href="https://support.google.com/chrome/answer/95647?tid=211147777" target="_blank"
      rel="noopener noreferrer nofollow" class="external">Chrome: Cookies in Chrome löschen, aktivieren und
      verwalten</a>
  </p>
  <p>
    <a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=211147777" target="_blank"
      rel="noopener noreferrer nofollow" class="external">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
  </p>
  <p>
    <a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=211147777"
      target="_blank" rel="noopener noreferrer nofollow" class="external">Firefox: Cookies löschen, um Daten zu
      entfernen, die Websites auf Ihrem Computer abgelegt haben</a>
  </p>
  <p>
    <a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=211147777"
      target="_blank" rel="noopener noreferrer nofollow" class="external">Internet Explorer: Löschen und Verwalten von
      Cookies</a>
  </p>
  <p>
    <a href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=211147777" target="_blank"
      rel="noopener noreferrer nofollow" class="external">Microsoft Edge: Löschen und Verwalten von Cookies</a>
  </p>
  <p>Bitte beachten Sie, dass bei der Verwendung dieses Tools Daten von Ihnen auch außerhalb der EU gespeichert und
    verarbeitet werden können. Die meisten Drittstaaten (darunter auch die USA) gelten nach derzeitigem europäischen
    Datenschutzrecht als nicht sicher. Daten an unsichere Drittstaaten dürfen also nicht einfach übertragen, dort
    gespeichert und verarbeitet werden, sofern es keine passenden Garantien (wie etwa EU-Standardvertragsklauseln)
    zwischen uns und dem außereuropäischen Dienstleister gibt.</p>
  <h3>Rechtsgrundlage</h3>
  <p>Der Einsatz von Google Analytics setzt Ihre Einwilligung voraus, welche wir mit unserem Cookie Popup eingeholt
    haben. Diese Einwilligung stellt laut<strong> Art. 6 Abs. 1 lit. a DSGVO (Einwilligung)</strong> die Rechtsgrundlage
    für die Verarbeitung personenbezogener Daten, wie sie bei der Erfassung durch Web-Analytics Tools vorkommen kann,
    dar.</p>
  <p>Zusätzlich zur Einwilligung besteht von unserer Seite ein berechtigtes Interesse daran, dass Verhalten der
    Websitebesucher zu analysieren und so unser Angebot technisch und wirtschaftlich zu verbessern. Mit Hilfe von Google
    Analytics erkennen wir Fehler der Website, können Attacken identifizieren und die Wirtschaftlichkeit verbessern. Die
    Rechtsgrundlage dafür ist <strong>Art. 6 Abs. 1 lit. f DSGVO (Berechtigte Interessen)</strong>.</p>
  <p>Wir weisen darauf hin, dass nach Meinung des Europäischen Gerichtshofs derzeit kein angemessenes Schutzniveau für
    den Datentransfer in die USA besteht. Die Datenverarbeitung geschieht im Wesentlichen durch Google. Dies kann dazu
    führen, dass gegebenenfalls Daten nicht anonymisiert verarbeitet und gespeichert werden. Ferner können
    gegebenenfalls US-amerikanische staatliche Behörden Zugriff auf einzelne Daten nehmen. Es kann ferner vorkommen,
    dass diese Daten mit Daten aus anderen Diensten von Google, bei denen Sie ein Nutzerkonto haben, verknüpft werden.
  </p>
  <p>Wir hoffen, wir konnten Ihnen die wichtigsten Informationen rund um die Datenverarbeitung von Google Analytics
    näherbringen. Wenn Sie mehr über den Tracking-Dienst erfahren wollen, empfehlen wir diese beiden Links: <a
      href="http://www.google.com/analytics/terms/de.html" target="_blank" rel="noopener noreferrer nofollow"
      class="external">http://www.google.com/analytics/terms/de.html</a> und <a
      href="https://support.google.com/analytics/answer/6004245?hl=de" target="_blank"
      rel="noopener noreferrer nofollow" class="external">https://support.google.com/analytics/answer/6004245?hl=de</a>.
  </p>
</div>
