.link
    display: inline-block
    color: inherit
    border-bottom: 2px solid
    border-bottom-color: var(--secondary)
    white-space: nowrap
    transition: all .3s

    &:hover
        color: var(--primary)
        border-bottom-color: var(--primary)
        