@import '../utils/color';

$main: black;
$main-bg: white;
$primary: #006c99;
$secondary: #ea4f15;
$error: red;
$light: white;
$dark: black;
$footer-bg: #444;
$cookie-bg: #293133;
$hint: grey;

//#293133
$main-background-color: whitesmoke;


$colors: (
    main: black,
    main-bg: white,
    primary: #006c99,
    secondary: #ea4f15,
    error: red,
    light: white,
    dark: black,
    footer-bg: #444,
    cookie-bg: #293133,
    hint: grey
);

// colors
:root {
    @include variable('main', black, $main-background-color);

    @each $name, $val in $colors {
        --#{$name}-light-20: #{lighten($val, 20)};
        --#{$name}-light-10: #{lighten($val, 10)}; 
        --#{$name}: #{$val};
        --#{$name}-dark-10: #{darken($val, 10)};
        --#{$name}-dark-20: #{darken($val, 20)}; 
    }
}
    