<ul class="nav-menu">
    <li class="nav-menu__item">
        <a [routerLink]="'/'" class="nav-menu__link">Home</a>
    </li>
    <li class="nav-menu__item">
        <a [routerLink]="'/team'" class="nav-menu__link">Team</a>
    </li>
    <li class="nav-menu__item">
        <a [routerLink]="'/contact'" class="nav-menu__link">Öffnungszeiten & Kontakt</a>
    </li>
    <li class="nav-menu__item">
        <a [routerLink]="'/impressum'" class="nav-menu__link">Impressum & Datenschutzerklärung</a>
    </li>
</ul>